<div class="row no-gutters bg-dark text-white rounded-bottom box-shadow text-center mb-2 justify-content-center">
  <div class="col-md-10">
    <h1 class="p-1 add-shadow display-4">Home</h1>
    <p class="mx-2"><span class="font-weight-bold"> Hello and welcome to my personal site!</span> My name is Richard DeAvila (in case you hadn't figured it out yet) and I am software developer specializing in full-stack development.  I am highly versatile and always willing to learn any new technologies suitable for different undertakings or for fun. I wanted to build a personal single page site, so I learned Angular4.</p>
  </div>
</div>

<div class="row no-gutters animated box-shadow" [ngClass]="change ? 'fadeIn': 'fadeOut'">
 <div class="col-lg-12">
  <app-home-body></app-home-body>
 </div>
</div>
