
  <!--Buttons section-->
  <div class="row no-gutters justify-content-center border border-success">
      <span class="btn m-2 pointer"
            [ngClass]="display['csulb'] ? 'btn-dark' : 'btn-outline-dark'"
            (click)="display['csulb']=!display['csulb']"
      >CSULB</span>
    <span class="btn  m-2 pointer"
          [ngClass]="display['udemy'] ? 'btn-dark' : 'btn-outline-dark'"
          (click)="display['udemy']=!display['udemy']"
    >Udemy</span>
    <span class="btn  m-2 pointer"
          [ngClass]="display['udacity'] ? 'btn-dark' : 'btn-outline-dark'"
          (click)="display['udacity']=!display['udacity']"
    >Udacity</span>
  </div>



<!--list div. Will bind the course and the display boolean to the individual courses!-->
<div class="border border-success">
  <ul class="list-group" style="overflow-y: scroll; height: 250px;">
    <app-course *ngFor="let thisCourse of courses" [listCourse]="thisCourse" [displayCourse]="display[thisCourse.provider]"
    (selectCourse)="sendSelectedCourse($event)"></app-course>
  </ul>
</div>
