<!--The row describing this page. It's md-10 because you want
some spacing when the screen is large-->
<div class="row no-gutters mb-2 justify-content-center bg-success rounded-bottom box-shadow text-white text-center">
  <div class="col-md-11">
    <h1 class="p1 add-shadow display-4 p-1">About Me</h1>
    <p> Interested in knowing more about me outside of the professional bubble? No problem! I'm a very laid back person with many interests and passions. I spend a significant amount of my time on tasks relating to my profession because I enjoy the feeling of productivity and cannot stand going a prolonged amount of time without learning something new. Nevertheless, when I do decide to enjoy my time at my leisure and put away the IDE my preferred activities are: boxing, general exercise, lone drives, Latin dancing, playing video games, <span style="text-decoration: line-through;">spending my money on all you can eat sushi</span>, and having aimless chats with folk.
    </p>
  </div>
</div>

<div class="row no-gutters box-shadow animated bg-light rounded" [ngClass]="change ? 'fadeIn': 'fadeOut'">
  <div class="col-lg-12 p-4">
    <app-about-body></app-about-body>
    <div class="card-deck">
      <div class="col-md-4" *ngFor="let hobby of hobbies">
        <!--The row of images-->
        <app-hobby [hobby]="hobby"></app-hobby>
      </div>
    </div>
  </div>
</div>
