<!--The row describing this page and your projects. It's md-10 because you want
some spacing when the screen is large-->
<div class="row no-gutters mb-2 justify-content-center bg-danger rounded-bottom box-shadow text-white text-center">
  <div class="col-md-11">
    <h1 class="p1 add-shadow display-4">Projects</h1>
    <p>These are some of the projects I have completed. They consist of both academic and personal works. For a more comprehensive collection of my work visit my GitHub page, where all of these projects are also available. Here you will get an insight into some of the languages and technologies I use.
      </p>
  </div>
</div>
<!--the row containing the projects AND the their details. Original: [ngClass]="change ? 'fadeIn': 'fadeOut'"-->
<div class="row no-gutters animated justify-content-around pt-2 bg-light box-shadow rounded" [ngClass]="change ? direction ? 'slideInRight': 'slideInLeft' : direction ? 'slideOutLeft': 'slideOutRight' ">
  <div class="col-md-10 col-lg-5 mb-3" *ngFor="let item of projectsList">
    <app-project [thisProject]="item"></app-project>
  </div>

</div>
