<!--The row describing this page and your coursework. It's in xs 12 because you want
it filling up the length when the screen is small. It's md-10 because you want
some spacing when the screen is large-->
<div class="row no-gutters mb-2 justify-content-center bg-success rounded-bottom box-shadow text-white text-center">
  <div class="col-md-10">
    <h1 class="p1 add-shadow display-4">Coursework</h1>
    <p> Here you will find information about the coursework that I have completed, both
    in academia and through personal endeavor. Lorem ipsum dolor sit amet, duo amet iudico theophrastus et, no prodesset sadipscing sit, soleat urbanitas id est. Sit ex assum partiendo. Nam ad ipsum clita. Est in vero semper voluptatum, eam ut quot augue quaerendum. Ad iriure latine efficiantur mea, error iuvaret te cum, te corrumpit voluptatum scribentur vim. Sed ut iusto inimicus, at mea sonet utamur. <span class="font-weight-bold">This website was undoubtedly my biggest undertaking in front-end.</span>
    </p>
  </div>
</div>

<!--the row containing the courselist AND the course details-->
<div class="row no-gutters animated rounded box-shadow" [ngClass]="change ? 'fadeIn': 'fadeOut'">

  <!--The left hand side consisting of the course list and related info. It's lg-5 because
  at medium you want them stacked already-->

<div class="col-lg-5">
  <app-coursebody (displayEmitter)="display[$event] = !display[$event]"></app-coursebody>
</div>
  <!--the Right hand side. If nothing is selected, display a request to select
    Also, if nothing is selected align that text to the center-->
  <div class="col-lg-7 text-center" style="min-height: 400px;">
    <app-coursedetail *ngIf="selectedCourse; else infoText" [detailCourse]="selectedCourse"></app-coursedetail>
    <ng-template #infoText><p class="font-weight-bold pt-5">Select a course!</p></ng-template>


  </div>

  <div class="col-lg-12">
    <app-courselist (sendCourse)="selectedCourse = $event"
    [display]="display"></app-courselist>
  </div>


</div>
