<header id="main-header" class="box-shadow">
  <div class="row no-gutters">
    <div class="col-lg-4 col-md-5">
      <img [src]="imgPath">
    </div>
    <div class="col-lg-8 col-md-7">
      <div class="d-flex flex-column">
        <div class="px-5 py-5 bg-dark text-white" id="name-row">
          <div class="name d-flex flex-row justify-content-between align-items-center">
            <h1 class="display-4">Richard DeAvila</h1>
            <div><a href="https://www.linkedin.com/in/richard-deavila-a7b340141/"><i class="fa fa-linkedin"></i></a></div>
            <div><a href="https://github.com/rdeavila94"><i class="fa fa-github"></i></a></div>
          </div>
        </div>

        <div class="p-4 bg-black">
          Developer.
        </div>


        <!--Make it so that on hover, it pulses-->
        <div>
          <div class="row no-gutters align-items-stretch text-center text-white">
            <div class="port-item py-3 col bg-primary" (click)="emitPage(1)">
              <i class="fa fa-home d-block"></i> <p>Home</p>
            </div>
            <div class="port-item py-3 col bg-success"  (click)="emitPage(2)">
              <i class="fa fa-graduation-cap d-block"></i> <p>Coursework</p>
            </div>
            <div class="port-item py-3 col bg-danger" (click)="emitPage(3)">
              <i class="fa fa-folder-open d-block"></i> <p>Projects</p>
            </div>
            <div class="port-item py-3 col bg-secondary" (click)="emitPage(4)">
              <i class="fa fa-envelope d-block"></i> <p>Contact</p>
            </div>
            <div class="port-item py-3 col bg-warning" (click)="emitPage(5)">
              <i class="fa fa-child d-block"></i> <p>About</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>





<!--<header id="main-header">
    <div class="row no-gutters">
      <div class="col-lg-4 col-md-5">
        <img [src]="imgPath">
      </div>
      <div class="col-lg-8 col-md-7">
        <div class="d-flex flex-column">
          <div class="p-5 bg-dark text-white">
            <div class="d-flex flex-row justify-content-between align-items-center">
              <h1 class="display-3">Richard DeAvila</h1>
            </div>
          </div>

          <div class="p-4 bg-black">
            Experienced Full Stack Web Developer
          </div>
        </div>
      </div>
    </div>
</header>-->




<!--<div class="container">
  <header id="main-header">
    <div class="row no-gutters">
      <div class="col-lg-4 col-md-5">
        <img [src]="imgPath">
      </div>
      <div class="col-lg-8 col-md-7">
          <div class="p-5 bg-dark text-white align-items-center">
              <h1 class="display-4">Richard DeAvila</h1>
          </div>

        <div class="p-4 bg-black align-items-center">
          <h1>Experienced Web Developer</h1>
        </div>


      </div>
    </div>
  </header>
</div>-->

<!--

<div class="container">
  <header id="main-header">
    <div class="row no-gutters">
      <div class="col-lg-4 col-md-5">
        <img [src]="imgPath">
      </div>
      <div class="col-lg-8 col-md-7">
        <div class="d-flex flex-column">
          <div class="p-5 bg-dark text-white">
            <div class="d-flex flex-row justify-content-between align-items-center">
              <h1 class="display-4">John Doe</h1>
            </div>
          </div>

          <div class="p-4 bg-black">
            Experienced Full Stack Web Developer
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
-->
