<!--Courses section-->
<div class="box-shadow rounded">
  <h1 class="py-1 text-primary text-center"> Courses </h1>
  <p class="px-2 garamond"> Along with my computer science coursework completed during my undergrad are many online courses that I complete to supplement my knowledge of software development. Below is a list of courses I have completed with its respective institution on its right. The list goes as far back to when I was introduced to programming and I produced my first "Hello, World!" (if only programming had remained that simple). Feel free to check them out and note that courses may be filtered by institution with the click of a button!<br> <span class="font-weight-bold">Classes from CSULB cover your typical computer science coursework from an academic institution, whereas classes from Udacity and Udemy cover more industrial-applicable material.</span>
  </p>
</div>


<!--Buttons section-->
<div class="row no-gutters justify-content-center">
      <span class="btn m-2 pointer"
            [ngClass]="button['csulb'] ? 'btn-primary' : 'btn-outline-primary'"
            (click)="emitButtonClick('csulb')"
      >CSULB</span>
  <span class="btn  m-2 pointer"
        [ngClass]="button['udemy'] ? 'btn-primary' : 'btn-outline-primary'"
        (click)="emitButtonClick('udemy')"
  >Udemy</span>
  <span class="btn  m-2 pointer"
        [ngClass]="button['udacity'] ? 'btn-primary' : 'btn-outline-primary'"
        (click)="emitButtonClick('udacity')"
  >Udacity</span>
</div>

