<!--Courses section-->
<div class="box-shadow rounded">
  <h1 class="py-1 text-primary text-center"> Courses </h1>
  <p class="px-2 garamond"> Along with my computer science coursework completed during my undergrad are many online courses that I complete during my spare time to learn new technologies or refine old ones. On the right hand side of a course element below is the name of the institution that course is from. The list goes as far back to when I was introduced to programming and I produced my first "Hello, World!" (if only programming had remained that simple). Feel free to check them out and note that courses may be filtered by institution with the click of a button! Perhaps you're only interested in what I did in academia, or what I decide to learn online through my own aspirations.<br><span class="font-weight-bold">Classes from CSULB cover your typical computer science coursework from an academic institution, whereas classes from Udacity and Udemy cover more industrial material.</span>
  </p>
</div>


<!--Buttons section-->
<div class="row no-gutters justify-content-center">
      <span class="btn m-2 pointer"
            [ngClass]="button['csulb'] ? 'btn-primary' : 'btn-outline-primary'"
            (click)="emitButtonClick('csulb')"
      >CSULB</span>
  <span class="btn  m-2 pointer"
        [ngClass]="button['udemy'] ? 'btn-primary' : 'btn-outline-primary'"
        (click)="emitButtonClick('udemy')"
  >Udemy</span>
  <span class="btn  m-2 pointer"
        [ngClass]="button['udacity'] ? 'btn-primary' : 'btn-outline-primary'"
        (click)="emitButtonClick('udacity')"
  >Udacity</span>
</div>

